<!DOCTYPE html>
<html>
<head>
    <title>Projeto web 2</title>
    <link rel="stylesheet" type="text/css" href="css/loginPage.css">
</head>
<body>
<div id="bc">
    <h1 id="tituloSistema">Sistema de Avaliação de Artigos</h1>
<div id="background">
    <div id="background-login">
            <h2 id="titulo">Faça login para acessar o sistema</h2>
            <form>
                <div id="inputs">
                <input id="inputUsuario" type="text" placeholder="usuário">
                <input id="inputSenha" type="password" placeholder="senha">
                </div>
                <button id="botao" type="submit">Entrar</button>
            </form>
    </div>
</div>    
</div>
</body>
</html>